
/*-----------------------------------------------------------------------------------------------------------------------*/
/* Map Title*/

/*-----------------------------------------------------------------------------------------------------------------------*/
/* Map*/
#map {
    margin-top: 10em;
    margin-bottom: 0;
}

.objects {
    position: relative;
}

.object-label {
    position: absolute;
    width: 1em;
    height: 1em;
    background-color: #e5bf93;
    -webkit-box-shadow: 0 0 70px 8px rgba(197, 164, 126, 0.75);
    box-shadow: 0 0 70px 8px rgba(197, 164, 126, 0.75);
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.object-label:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.popover.top {
    margin-top: -20px;
}

.object-info {
    width: 18em;
    height: auto;
    display: none;
    position: absolute;
    left: 50%;
    bottom: 40px;
    margin-left: -9em;
    padding: 1.1em 1.3em 3em 1.3em;
    border: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    z-index: 1;
}

.object-info.infoShown {
    display: block;
}

.object-info:before{
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top: 15px solid rgba(0,0,0,0.3);
}

.object-title{
  font-size: 1em;
  font-family: 'montserratsemibold';
  font-weight: normal;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color:#c5a47e;
  padding: 0 0 1em 0;
  border-bottom: 2px solid rgba(255,255,255,0.2);
  margin: 0 0 .5em 0;
}

.object-content{
  font-family: 'montserratlight', sans-serif;
  font-size: 1.2em;
  line-height: 2.6;
  color: #fff;
  padding: 0;
}

.popover.top>.arrow{
  border-top-color: transparent;
}

.popover.top>.arrow:after{
  border-top-color:rgba(0,0,0,0.6);
}

/*-----------------------------------------------------------------------------------------------------------------------*/
/* Map Label positions*/

.label-1 {
    left: 12.6%; top: 42%;
}
.label-2 {
    left:25.7%; top: 39.1%;
}
.label-3 {
    left: 32.2%; top: 80.6%;
}
.label-4 {
    left: 47.3%; top: 34.5%;
}
.label-5 {
    left: 50.7%; top: 20.4%;
}
.label-6 {
    left: 64.4%; top: 22.4%;
}
.label-7 {
    left: 82.2%; top: 32.6%;
}
.label-8 {
    left: 84.4%; top: 82.3%;
}