@font-face {
    font-family: 'montserratlight';
    src: url('../../fonts/montserrat/Montserrat-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratsemibold';
    src: url('../../fonts/montserrat/Montserrat-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

h1, .h1{ 
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 8vmin;
    line-height: 1.2;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #fff;
}

h2, .h2{ 
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 2.1875em;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #fff;
}

h3, .h3{
    font-family: 'montserratsemibold';
    font-size: 1.875em;
    line-height: 1.1;
    font-weight: normal;
    color:#fff;
}

h4, .h4{
    font-family: 'montserratsemibold';
    font-size: 1.125em;
    line-height: 1.35;
    font-weight: normal;
    color:#fff;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a{
    color:inherit;
}

h1 a:hover, .h1 a:hover, h2 a:hover, .h2 a:hover, h3 a:hover, .h3 a:hover, h4 a:hover, .h4 a:hover{
    text-decoration: none;
}

p{
    margin-bottom: 1.6em;
}

b, strong{
    font-family: 'Montserrat', sans-serif;
}

a {
    color:#c5a47e;
    -webkit-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
    transition: color .3s ease-out;
}

a:hover,
a:focus {
    color:#c5a47e;
    outline: none;
    text-decoration: none;
}

a:focus{
    text-decoration: none;
}